<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
	cacheDirectory=".phpunit.cache"
	bootstrap="vendor/autoload.php"
	executionOrder="depends,defects"
	failOnRisky="true"
	failOnWarning="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutCoverageMetadata="true">

	<testsuites>
		<testsuite name="default">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<!--
		bool NetherBrowserUnitTestOutreachProgram default TRUE
		enables running tests against some remote services to do real world
		tests of the library. setting this to false will prevent tests
		against any of my managed test services.
		-->
		<const name="NetherBrowserUnitTestOutreachProgram" value="TRUE"/>
	</php>

	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</source>

	<coverage/>

</phpunit>
